<%= form_for(@user, url: user_path(@user)) do |f| %>
	<div class="card-content">
		<div class="input-field">
			<%= f.text_field :bio, placeholder: "Tell us about yourself!" %>
		</div>

		<%= f.hidden_field :image, value: Post.new.cached_image_data %>
		<%= f.file_field :image, class: "btn-flat" %>

		<div class="row" style="margin-bottom: 0px;">
			<br>
			<div class="col s1 offset-s7">
				<%= f.submit "Save", class: "btn facebook-blue white-text" %>
			</div>
		</div>
	</div>
<% end %>