<% unless current_user == user %>
	<li class="collection-item left-align">
		<div class="row">
			<div class="col s4">
				<b><%= link_to user.full_name, user, class: "facebook-blue-text" %></b>
			</div>
			<% unless current_user.friend?(user) %>
				<% unless current_user.request?(user) %>
					<div class="col s4 offset-s4">
						<%= button_to "Add Friend", friendships_path(friend_id: user.id), class: "btn-flat facebook-grey" %>
					</div>
				<% else %>
						<% if current_user.unapproved_requesting_friends.include?(user) %>
							<div class="col s4">
								<%= button_to "Accept Request", accept_path(friendship_id: current_user.request_id(user)), class: "btn-flat facebook-grey" %>
							</div>
							<div class="col s4">
								<%= button_to "Cancel Request", friendship_path(current_user.request_id(user)), method: :delete, class: "btn-flat red" %>
							</div>
						<% else %>
							<div class="col s4 offset-s4">
								<%= button_to "Cancel Request", friendship_path(current_user.request_id(user)), method: :delete, class: "btn-flat red" %>
							</div>
						<% end %>
				<% end %>
			<% else %>
				<div class="col s4 offset-s4">
					<%= link_to '#', class: "btn-flat facebook-grey" do %>
						 <i class="material-icons">check</i><span>Friends</span>
					<% end %>
				</div>
			<% end %>
		</div>
	</li>
<% end %>