<div class="row">
	<div class="col s10">
		<div class="card left-align">
			<div class="card-content profile">
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row">
					<div class="col s4 offset-s2">
						<span class="card-title white-text"><b><%= @user.full_name %></b></span>
					</div>
					<div class="col s6"> 
						<!-- Should be different if this is current user vs a different user -->
						<%= link_to "Update Info", '#', class: 'btn-flat white' %>
						<%= link_to "View Activity Log", '#', class: 'btn-flat white' %>
						<%= link_to "...", '#', class: 'btn-flat white' %>
					</div>
				</div>
			</div>	
            <div class="card-content">
            	<div class="row" style="margin-bottom: 0px; font-weight: 800;">
            		<div class="col s1 offset-s2">
	              		<a href="#" class="facebook-blue-text">Timeline</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">About</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">Friends</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">Photos</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">
	              			More<i class="material-icons tiny">arrow_drop_down</i>
	              		</a>
	              	</div>
	            </div>
            </div>
        </div>
	</div>
</div>
<div class="row">
	<div class="col s10">
		<div class="row">
			<div class="col s4">
				Test
			</div>
			<div class="col s8">
				<%= render 'posts/form' %>
				<%= render @posts %>
			</div>
		</div>
	</div>
</div>