<div class="row">
	<div class="col s10">
		<div class="card left-align">
			<div class="card-content profile">
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row">
					<div class="col s2">
						<img src="<%= @user.image_url %>" style="position: absolute; bottom: 30px; border: 0.5em solid white; outline: 1px solid #d3d3d3;" height="175em" width="150em" class="hide-on-med-and-down">
					</div>
					<div class="col s4">
						<span class="card-title white-text"><b><%= @user.full_name %></b></span>
					</div>
					<% if current_user == @user %>
						<div class="col s6"> 
							<%= link_to "Delete Account", @user, method: :delete, 
								data: { confirm: "Are you sure? Your account can not be recovered." },
								class: 'btn-flat red' %>
							<%= link_to "View Activity Log", '#', class: 'btn-flat white hide-on-med-and-down' %>
							<%= link_to "...", '#', class: 'btn-flat white' %>
						</div>
					<% else %>
						<% if current_user.friend?(@user) %>
							<div class="col s2 offset-s4">
								<%= link_to '#', class: "btn-flat white" do %>
									 <i class="material-icons">check</i><span>Friends</span>
								<% end %>
							</div>
						<% else %>
							<% if current_user.request?(@user) %>
								<% if current_user.unapproved_requesting_friends.include?(@user) %>
									<div class="col s2 offset-s3">
										<%= button_to "Accept Friend Request",
											accept_path(friendship_id: current_user.request_id(@user)), class: "btn-flat white" %>
									</div>
								<% else %>
									<div class="col s2 offset-s4">
										<%= link_to 'Pending', '#',
											class: "btn-flat white" %>
									</div>
								<% end %>
							<% else %>
								<div class="col s2 offset-s4">
									<%= button_to "Add Friend",
										friendships_path(user_id: current_user.id, friend_id: @user.id),
										class: "btn-flat white" %>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>	
            <div class="card-content">
            	<div class="row" style="margin-bottom: 0px; font-weight: 800;">
            		<div class="col s1 offset-s2">
	              		<a href="#" class="facebook-blue-text">Timeline</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">About</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">Friends</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">Photos</a>
	              	</div>
	              	<div class="col s1">
	              		<a href="#" class="facebook-blue-text">
	              			More<i class="material-icons tiny">arrow_drop_down</i>
	              		</a>
	              	</div>
	            </div>
            </div>
        </div>
		<div class="row">
			<div class="col s4">
				<div class="card left-align">
					<% if @user.bio.blank? && current_user != @user %>
						<!-- Don't show the bio if it doesn't exist and this isn't your profile page -->
					<% elsif @user.bio.blank? && current_user == @user %>
						<!-- Shows the add bio form if it doesn't exist and this is your profile page -->
						<br>
						<div class="card-content">
							<span class="card-title">Bio</span>
							<%= render 'bio_form' %>
						</div>
					<% elsif !@user.bio.blank? && current_user == @user %>
						<!-- Shows the add bio form and the bio if the bio exists and this is your profile page -->
						<%= render "bio" %>
						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header">
									<div class="col s1 offset-s7">
										<p class="btn facebook-blue white-text">Update</p>
									</div>
								</div>
								<div class="collapsible-body"><%= render 'bio_form' %></div>
							</li>
						</ul>
					<% else %>
						<!-- Show the bio if it exists -->
						<%= render "bio" %>
					<% end %>
				</div>
				<div class="card left-align">
					<div class="card-content">
						<span class="card-title">Friends · <%= @user.friends.count %></span>
					</div>
				</div>
				<div class="card left-align">
					<div class="card-content">
						<span class="grey-text">English (US) · </span>
						<span class="facebook-blue-text">Español</span>
						<span class="grey-text"> · </span>
						<span class="facebook-blue-text">Português (Brasil)</span>
						<span class="grey-text"> · </span>
						<span class="facebook-blue-text">Français (France)</span>
						<span class="grey-text"> · </span>
						<span class="facebook-blue-text">Deutsch</span>
					</div>
				</div>
				<p class="grey-text left-align">Privacy · Terms · Advertising · Ad Choices · Cookies · More</p>
				<p class="grey-text left-align">Jonathan © 2017</p>
			</div>
			<div class="col s8">
				<%= render 'posts/form' if current_user == @user %>
				<%= render @posts %>
			</div>
		</div>
	</div>
</div>

