<div class="card small left-align">
	<%= form_for(:post, url: posts_path) do |f| %>
		<div class="card-content">
			<i class="material-icons">create</i>
			<span>Make Post</span>
			<div class="divider"></div>
			<div class="input-field">
				<%= f.text_area :content, placeholder: "What's on your mind, #{current_user.first_name}?", class: "materialize-textarea" %>
				<%= f.hidden_field :image, value: Post.new.cached_image_data %>
				<%= f.file_field :image, class: "white file" %>
			</div>
		</div>
		<div class="card-content">
	  		<div class="row">
	  			<div class="col s2 offset-s10" style="margin-top: -20px;">
	  				<%= f.submit "Post", class: "btn facebook-blue white-text" %>
	  			</div>
	  		</div>
	  	</div>
	<% end %>
</div>