<div class="card left-align">
	<div class="card-content">
		<% if current_user == post.user %>
			<ul class="right">
				<li class="blue-text"><%= link_to "Delete", post, method: :delete,
										  data: { confirm: "Are you sure?" } %></li>
			</ul>
		<% end %>
		<span class="card-title grey-text">
			<b><%= link_to post.user.full_name, post.user, class: "facebook-blue-text" %></b> shared a post
		</span>
		<p class="grey-text"><%= time_ago_in_words(post.created_at) %></p>
		<br>
		<div class="card-image">
			<img src="<%= post.image_url %>">
		</div>
		<br>
		<p><%= simple_format post.content %></p>
	</div>
	<div class="card-action">
		<% if post.likes.pluck(:user_id).include?(current_user.id) %>
			<%= link_to like_path(post.likes.where(user_id: current_user.id).first.id), method: :delete do %>
				<i class="material-icons facebook-blue-text">thumb_up</i><span class="facebook-blue-text">Like</span>
			<% end %>
		<% else %>
			<%= link_to likes_path(post_id: post.id), method: :post do %>
				<i class="material-icons grey-text">thumb_up</i><span class="grey-text">Like</span>
			<% end %>
		<% end %>
	</div>
	<% if post.likes.exists? %>
		<div class="card-content facebook-grey">
			<i class="material-icons facebook-blue-text tiny">thumb_up</i>
			<span class="facebook-blue-text"><%= post.likes.count %></span>
		</div>
	<% end %>
	<div class="divider"></div>
	<%= render post.comments %>
	<%= render partial: 'comments/form', locals: { post_id: post.id } %>
</div>
